


.photo {
	margin: 0 auto;
	border: #999999 solid 1px;
	margin-bottom: 45px;
}

.box {
	padding-left: 50px;
	padding-right: 50px;
	width: 960px;
	margin:	0 auto;
	margin-bottom: 20px;
	margin-top: 10px;
}



/*.lowerCase {
	text-transform: lowercase;
}*/


