
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,300,500,600,700);

.photo {
	margin: 0 auto;
	border: #999999 solid 1px;
	margin-bottom: 45px;
}

.box {
	padding-left: 50px;
	padding-right: 50px;
	width: 960px;
	margin:	0 auto;
	margin-bottom: 20px;
	margin-top: 10px;
}

.brand {
	font-family: 'Exo 2', sans-serif;
	font-size: 45px;
	color: #FFFFFF;
	opacity: .9;
	font-weight: 300;
}

/*.lowerCase {
	text-transform: lowercase;
}*/


